@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


:root {
  --glasspink: rgba(255,200,250,.4);
  --brightcyan: rgba(140,255,255,1);
}


html {
  min-height: 100%;
}
body {
  background: snow;
  display: flex;
  flex-direction: column;
  font-family: 'Train One';
  justify-content: center;
  margin: 20px;
  text-align: center;
}


#navigation {
  background: white;
  border-radius: 50px;
  box-shadow: 0 8px 15px rgba(0,0,0,.2);
  display: flex;
  padding: 20px;
  transition: 1s ease-in-out;
  width: 10px;
}
#navigation:hover {
  width: 460px;
}
.menu {
  display: flex;
  margin: 0;
  margin-left: 10px;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  transition: 1s ease-in-out;
}
#navigation:hover > .menu {
  opacity: 1;
}
.menu li {
  list-style-type: none;
  margin: 0;
  padding: 0 5px;
}
.menu li a {
  color: #333;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
.menu li a:hover {
  color: var(--brightcyan);
}

#brand-title {
  display: inline-block;
  font-family: 'Pacifico';
}


.blob {
  height: 3em;
  width: 3em;
  object-fit: cover;
  z-index: -1;
}
#random-shape-decoration-1 {
  background: linear-gradient(225deg, var(--glasspink) 13%, var(--brightcyan) 100%);
  border-radius: 30% 70% 68% 32% / 30% 30% 70% 70%;
  padding: 10em;
  z-index: -2;
}
#model-img-1 {
  background: linear-gradient(225deg, var(--glasspink) 13%, var(--brightcyan) 100%);
  border-radius: 33% 67% 53% 47% / 73% 16% 84% 27% ;
  /*float: right;*/
  height: 5em;
  position: absolute;
  transform: translateX(20em);
  width: 5em;
}
#model-img-2 {
  background: linear-gradient(225deg, var(--glasspink) 13%, var(--brightcyan) 100%);
  border-radius: 26% 74% 17% 83% / 71% 83% 17% 29% ;
  /*float: right;*/
  height: 5em;
  position: absolute;
  transform: translateX(5em) translateY(-5em);
  width: 5em;
}
#model-img-3 {
  background: linear-gradient(225deg, var(--glasspink) 13%, var(--brightcyan) 100%);
  border-radius: 26% 74% 17% 83% / 71% 83% 17% 29% ;
  /*float: right;*/
  height: 8em;
  position: absolute;
  transform: translateX(10em) translateY(15em);
  width: 5em;
}